<!DOCTYPE html>
<html>
  <head>
    <title>Antemeridien Playlist on Spotify</title>
  </head>

   <body>
    <h1 class="page-header">Antemeridien Playlist on Spotify</h1>
    <br/>

    <a href="/auth/spotify">Hook Spotify upppp</a>
    <br>
    <br>
    <a href="/logout">Unhook Spotify</a>
    <br/>
    <br>

    <%= yield %>
  </body>
</html>