<!DOCTYPE html>
<html>
  <head>
    <title>Ante Meridiem Playlist on Spotify</title>
    <link rel="stylesheet" type="text/css" href=<%=h url("/normalize.css") %>>
    <link rel="stylesheet" type="text/css" href=<%=h url("/skeleton.css") %>>    
  </head>

   <body>
   <div class="container">
    <h1>Ante Meridiem Playlist on Spotify</h1>
    <br/>

    <a class="button button-primary" href="/auth/spotify">Hook Spotify upppp</a>
    <br>
    <a class="button" href="/logout">Unhook Spotify</a>
    <br/>

    <%= yield %>
    </div>
  </body>
</html>